/*Global Styles*/

body {
	border: none;
	margin: 0px;

	position:relative;
	overflow: auto;
background-color:#FFFFFF;
}

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border:none;
	display:inline-block;
}

div {
	border:none;
	margin:0px;
	padding:0px;
	background-color:#FFF;
}


img {
	width:inherit;
}
    
.typekit-badge {
	display: none !important;
}

#button {

}

#clear {
	clear:both;
}

/*Structure*/

#container {
	width: 80%;
	min-width:950px;
	max-width:950px;
	margin: 0px auto;
	/*border:#d7d7d7 1px solid;*/
	border-top: 0px;
	padding:0px 0px 100px 0px;
	position: relative;
	background-color:inherit;
}

#content {
	width: 900px;
	margin: 0px auto;
	padding: 0px 0px;
	background-color:inherit;
}

/*#header {
	height: 38px;
	background-color: #000;
	position:fixed;
	margin: 0px auto;
	padding-bottom: 3px;
	padding-bottom: 5px;
	position:relative;
	text-align:center;
}*/

#header {
	width:900px;
	margin: 10px auto;
	border-bottom: 1px #BCBCBC solid;
	background-color:inherit;
}

#research_categories_container_master {
	margin:0px 0px  0px 0px;
	height:100%; 
	border-bottom:#000 2px solid;
}

#research_categories_container_1, #research_categories_container_2 {
	width:338px;
	margin: 10px 0px 50px 0px;
	padding: 0px 5px 0px 5px;
	position:relative;
	background-color:inherit;
	float:left;
	display:inline-block;
	border-left:#999999 1px solid;
	border-right:#999999 1px solid;
	overflow: hidden;
}

#research_categories_container_1 {
	width:538px;
}

#research_categories_container_2 {
	border-left:none;
	border-right:#999999 1px solid;
}

#footer {
	height: 300px;
	background-color: #ebebeb;
	border-bottom: 1px #d7d7d7 solid;
	box-shadow: 1px 1px 1px #d7d7d7;
	margin: 0px auto;
	padding-bottom: 3px;
	padding-bottom: 5px;
}

/*Header Banner*/

#header_banner {
	width: 1050px;
	margin: 0px auto;
	height: 38px;
	padding-top: 10px;
	padding-bottom: 4px;
	display:inline-block;
	position:relative;
	text-align:left;
	clear:both;
}

#header_banner_branding {
	height: 26px;
	width: 215px;
	background: url('images/octave_research_branding.png') no-repeat;
	display: inline-block;
	text-align:left;
}

#header_banner_menu_container {
	display: inline-block;
	overflow: hidden;
	background-color:inherit;
}

#header_banner_menu {
	display: inline-block;
	margin: 0px 0px 0px 50px;
	padding: 0px;
}

.header_banner_menu_item {
	display: inline-block;
	padding: 0px;
	margin: 0px 20px 0px 5px;
}

.header_banner_menu_item_selected {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#header_banner_search_container {
	display: inline-block;
	float: right;
	height: 22px;
	width: 150px;
	margin: 0px 0px 5px 0px;
	padding-left: 10px;
	padding-top: 0px;
	background-color: #f9f9f9;
}

#search_instructions {
	display: inline;
	width: 90px;
}

.header_banner_search_graphics {
	display: inline-block;
	float: right;
	background-image: url('images/graphics/search_graphics.png');
	height: 20px;
	width: 24px;
	margin-top: 2px;
}

/*Tag Cloud*/

#tag_cloud-container {
	width: 650px;
	margin: 50px 0px 0px 0px;
}

ul.tag_cloud_list {
	display: inline-block;
	clear: both;
	margin:0px 0px 0px 0px;
}

.tag_cloud_tag {
	display: inline-block;
	border: #000000 1px solid;
	padding: 0px 3px;
	margin: 2px 0px 1px 0px;
	font-family: "minion-pro";
	font-style:italic;
	font-size:14px;
	color:#FF0000;
}

.tag_cloud_tag:hover {
	background-color: #EBEBEB;
}

li.tag_cloud_tag_selected {
	display: inline-block;
	border: #000000 1px solid;
	padding: 0px 5px;
	background-color: #EBEBEB;
	margin: 5px 5px 0px 0px;
}

#tag_cloud_search_button {
	width: 50px;
	border: #000000 1px solid;
	padding: 0px;
	background-color: #EBEBEB;
	margin: 5px 5px 0px 0px;
}


/*Research Categories*/

#research_category_content {
	margin: 10px 0px 0px 0px;
	padding:10px;
	border-bottom:1px solid rgb(204, 204, 204);
	width:518px;
	clear:both;
	border-right:none;
	display:inline-block;
	float:left;
}


#research_category_content_last {
        margin: 10px 0px 0px 0px;
	padding:10px;
	border-bottom:1px solid rgb(204, 204, 204);
	width:518px;
	clear:both;
	border-right:none;
	display:inline-block;
	float:left;
}

#research_categories_list_content {
	/*border-top: #EBEBEB 1px solid;*/
	overflow:scroll;
}

#research_category_title_container {
	
	display:inline-block;
	padding:0px 10px 10px 0px;
}

#research_category_date_container {
	width:80px;
	padding:0px 0px;
	display:inline-block;
	float:right;
	font-size:28px;
}

#research_category_summary {
	width:490px;
	margin:10px 0px !important;	
}

#research_category_author {
        clear:left;
}

#front_page_image {
	width:518px;
	margin:0px auto 0px auto;
	background-size:contain;
	overflow:hidden;
}

/* deleted .research_categories_list */

/* deleted #research_category_list_item_container */

/* deleted .research_category_list_item */

/* deleted .research_categories_list_item_sublist2 */

/* deleted .research_categories_list_item_sublist2:hover */

/* deleted #research_categories_item */

/*deleted Library List*/

/* deleted Sidebar */

/*Report Template*/

#report_container {
	margin:20px 0px 0px 0px;
	padding:10px;
	border:#999999 1px solid;
	background-color:#FFF;
	width:879px;
clear:both;
}

#report_category {
	
}

#report_summary {
	width:575px;
	margin:10px 0px !important;	
}

table#report_table {
	margin:20px 0px 0px 0px;
}

#report_content, #report_category, #report_summary, #report_mission, #report_history, #report_program, #report_price, #report_contact, #report_conclusion{
	margin:20px 0px 0px 0px;
}

#report_content{
width:680px;
}

#report_summary_content {
	margin: 10px 0px 0px 0px;
	padding:10px;
	border:1px solid rgb(204, 204, 204);
	width:880px;
	clear:both;
}

#report_download {
	margin:0px 0px 10px 0px;
	text-decoration:underline;
	width:140px;
}

#report_content_profile {
	display:inline-block;
	clear:both;
	position:relative;
	width:468px;
	margin:15px 30px;
}

#report_summary_title_container {
	width:550px;
	display:inline-block;
	padding:0px 10px 10px 0px;
}

#report_summary_date_container {
	width:75px;
	padding:0px 10px;
	display:inline-block;
	float:right;
	font-size:28px;
}

img.bio_image {
	width:150px;
	height:150px;
	margin:20px 0px 3px 1px;
	display:inline-block;
	float:left;
	position:relative;
}

#post_type {
	background-color:#BCBCBC;
	color:#FFFFFF;
	padding: 0px 2px;
	background-size:contain;
	text-transform:uppercase;
	display:inline-block;
	clear:both;
	
}

/* forms: search login */

form.sisea-search-form {
	border:none;
	border: 1px #999 solid;
	margin:10px 0px;
	width:250px;
	background-color:#FFF;
	display:inline-block;
	float:left;
}

fieldset {
	border:none;
}

input[type=text], input[type=password]{
	border:none;
	border-bottom: solid 1px #000000;
	background-color:#fff;
	font-size:16px;
}


input[type=submit]{
	border:none;
	background-color:#fff;
	font-size:16px;
	margin:0px 0px;
	padding:0px;
	float:left;
	clear:both;
	text-decoration:underline;
}

#search_submit {
	display:none;
}

label[for=search] {
	display:none;
}

form.loginLoginForm {
	margin:0px 0px 0px 0px;
}

legend.loginLegend {
	text-transform:uppercase;
	font-weight:200;
	font-size:28px;
	text-decoration:underline;
}

#logout {
	float:right;
	border-bottom: solid 1px #000000;
}

.loginUsername, .loginPassword {
	float:left;
	clear:both;
	margin:50px 0px 0px 0px;
}

.loginForm {
	border: 1px #999 solid;
	width:200px;
	margin:100px auto;

}

.loginLogin {
	position:relative;
}

.loginMessage {
	margin:10px;
}

input[value=Login] {
	margin:30px 0px;
	font-size:26px;
text-transform:uppercase;
}

/*Project Cards */

#project_container{
	height:370px;
	width:204px;
	margin:10px 10px 0px 0px;
	padding:10px;
	float:left;
	display:inline-block;
	position:relative; 
	border:#999999 1px solid;
	overflow:hidden;
}

#project_container_3rd{
	height:370px;
	width:206px;
	margin:10px 0px 0px 0px;
	padding:10px;
	float:left;
	display:inline-block;
	position:relative; 
	border:#999999 1px solid;
	overflow:hidden;
}

img.project_image {
	height:205px;
	width:205px;
	background-size:contain;
}

#project_content {
	width:200px;
	margin:10px 0px 0px 0px;
}

/* Buttons */ 

#rss_button {
	height:23px;
	margin:10px 0px;
	border: 1px #999 solid;
	display:inline-block;
	float:right;
	text-align:center;
	padding:10px 10px 10px 10px;
	font-style:underline;
	position:relative;
}

#rss_button_image {
	width:12px;
	height:12px;
	background: url('images/rss_button.png') no-repeat;
	background-size:contain;
	display:inline-block;

}


/* sidebar */

#sidebar_content {
	display:inline-block;
	float:right;
	border-left:#999999 1px solid;
	width:196px;
	margin:10px 0px 0px 1px;
	padding:0px 0px 0px 10px;
	height:1000px;
	position:relative;
}

/* news */

#news_source {
	margin:0px 0px 5px 0px;
	color:#888;
}

#news_summary_content {
	margin:15px 0px 10px 0px;
	border-bottom:1px solid rgb(204, 204, 204);
	padding:10px;
}

#news_summary_last_content {
	margin:15px 0px 10px 0px;
	border-bottom:1px solid rgb(204, 204, 204);
	padding:10px;
}

/* inspiration */

.inspiration_image_small {
	width:318px;
	margin:0px auto 0px auto;
	background-size:contain;
	overflow:hidden;
	
}

.inspiration_image_large {
	width:660px;
	margin:0px auto 0px auto;
	padding:0px 10px;
}

/* comments */

#comments {
	margin:50px 0px 0px 0px;
}

li.quip-comment {
	clear:both;
	display:block;
	border:1px solid rgb(204, 204, 204);
	margin:10px 0px 0px 0px !important;
}

.quip-comment-alt {
	background-color:inherit !important;
}

li.quip-latest-comment {
	clear:both;
	display:block;
}
