#issue_contents {
	margin-top: 30px;
	border-top: 1px gray solid;
}

body p {
	margin-top: 1em;
}

.feature_image_small_bottom {
	margin-top: 20px;
}

.post_title {
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

.report_intro {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px $darkGray solid;
}
body i {
	font-weight: 400;
	font-style: none;
}