$lightText:200;
$heavyText:500;
$gray: #888;
$background:#FBFBF9;
$navyBlack:#001741;

* {
 background: url('images/white_wall_hash.png');
  
}

body {
  font: 20px/24px "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  color:$navyBlack;
    p {
       font-size:18px;
    }
}

ul li {
  font-weight:$lightText;
}

header #header_branding h1{
  text-transform:uppercase;
  font-size:39px;
  font-weight:900;
  color:#000;
  text-align:center;
  background-color:inherit;
  
  #header_branding_research { font-weight:$lightText;}
}

#main_story_category h5, #frontpage_story_category h5 {
  text-transform:uppercase;
  text-decoration:underline;
  font-weight:$lightText;
  font-size:16px;
  color:$gray;
}

#main_story_meta {
  font-weight:$lightText;
  font-size:12px;
  color:$gray;
  }

#main_story_teaser, #frontpage_story_teaser {
  font-weight:$lightText;

}

#newsfeed_teaser, #frontpage_story_teaser {
}

#main_story_container, #newsfeed_container {
 
  h4 {
    text-transform:uppercase;
    font-weight:$lightText;
  }
  
  li {
    list-style-type:circle;
    display:block; 
  }
  
  #newsfeed_title {
    
    h4 {
      font-weight:$lightText;
      line-height:1;
      font-size:22px;
    }
  }
  
  #newsfeed_headline p{
    margin-top:10px;
  }
  
  #newsfeed_source p{
    color:$gray;
    font-weight:$lightText;
    margin-bottom:0px;
  }
  
  #newsfeed_headline p{
    font-weight:$heavyText;
    text-transform:uppercase;
  }
  
  #newsfeed_teaser p {
    font-size:12px;
    line-height:140%;
    margin-bottom:4px;
  }
}

#frontpage_story  {
  h3 {
  text-transform:uppercase;
  font-weight:$lightText;
  font-size:28px;
  text-decoration:underline;
  }
  
  p {
    margin:0px;
  }
  
  #frontpage_story_meta{
  font-weight:$lightText;
  font-size:12px;
  color:$gray;
  }
}

#frontpage_inspiration_container {
  h4 {
      text-transform:uppercase;
      font-weight:$lightText;
      line-height:1;
      font-size:22px;
      margin-left:10px;
    }
}
