.article-post-random {
	@extend .issue-post-related;
	opacity:1;
	padding-left: 0;
	border-left:none;
	border-top: 1px solid #999;
	article {
		height:auto;
	}
}

.featured-articles, .article-category {
	margin-bottom: 0rem;
	h3 {
		font-family: $body-font;
		font-weight: $medium-text;
		margin-bottom: 0;
		margin-top: 2rem;

	}
	p {
		font-family: $text-font;
		font-weight: $medium-text;
	}
}

.article-category-featured {
	height: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
	h6 {
		margin-top: 0.5rem;
		display: inline-block;
		font-weight: $light-text;
		color:$black;
	}
}

.articles {
	margin-top: 0rem;
	&-article {
		height: 22.5rem;
	}
	&-article-title {
		margin-bottom: 0rem;
	}
	&-article-meta {
		margin-bottom: 0.5rem;
		a {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.article-single {
	
}
