.issue {
	position: relative;
	&-meta {
		margin-top: 3rem;
		margin-bottom: 2rem;
		@media only screen and (max-width: 40em) { 
			margin-top: 1rem;
		}
	}
	&-overlay {
		background-color: $black-overlay;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	}
}

.issue-single {
	&-header {
		margin-top: 2rem;
	}
	&-meta {
		margin-bottom: 1rem;
	}
	&-contents {
		margin-bottom: 2rem;
	}
}

.issue-post-related {
	float:right;
	opacity:0.6;
	padding-left: 1rem;
	border-left: 1px solid #999;
	h3 {
		font-family: $body-font;
		font-size: 1.5rem;
		font-weight: $medium-text;
		text-decoration: underline;
		margin-bottom: 1.5rem;
		margin-top: 2rem;
	}
}

.issue-post-related:hover {
	opacity:1;
}

.issue-intro {
	margin-bottom: 3rem;
	background: url(css/assets/background.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  min-height: 50rem;
  &-text {
  }
}

.issue-single-intro {
  @extend .issue-intro;
  background: none;
}

.issue-intro-center {
	display: inline-block;
	@include breakpoint(medium) {
		@include dead-center(1000px, 511px);
	}
	z-index: 10;
}